.input-field.col,label{
    color:white;
}
#name{
    color: white;
}
.inputLabel{
    color: white;
}

.btn-flat.waves-effect{
    color:white;
}
#count_message {
    background-color: smoke;
    margin-top: -20px;
    margin-right: 5px;
  }